:root {
    --primary-color: #0074cc;
    --secondary-color: #00b368;
    --text-color: #333;
    --background-color: #f9f9f9;
    --accent-color: #ff0000;
    --header-bg-color: #1e1e1e;
    --header-text-color: #fff;
    --btn-hover-color: #0056a3;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    text-align: center;
    padding: 100px 0;
}

header h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

header p {
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

#about {
    text-align: center;
    margin: 50px auto;
}

#about img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#about p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

#skills {
    text-align: center;
    margin: 50px auto;
}

#skills h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#skills ul {
    list-style-type: none;
}

#skills li {
    display: inline-block;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
}

#projects {
    margin: 50px auto;
}

#projects h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.project {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: transform 0.3s;
}

.project:hover {
    transform: translateY(-10px);
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 18px;
}

.project img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

#resume {
    text-align: center;
    margin: 50px auto;
}

#resume a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

#resume a:hover {
    background-color: var(--btn-hover-color);
}

#contact {
    text-align: center;
    margin: 50px auto;
}

#contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#contact p {
    font-size: 18px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
}

footer p {
    margin-bottom: 10px;
}

footer .btn img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: transform 0.3s;
}

footer .btn img:hover {
    transform: scale(1.1);
}
